extends ../layout
block head
block content
    .container
        .panel.panel-default
            .panel-heading 专业服务
            table.table.table-striped
                thead
                    tr
                        th.col-md-2 #
                        th.col-md-2 联系人
                        th.col-md-2 手机
                        th.col-md-2 国家
                        th.col-md-2 城市
                        th.col-md-2 时间
                tbody#business_list
                    each item in business
                        -
                            item.time = item.time ? new Date(item.time) : new Date()
                            var tmp = '' + item._id
                            tmp = tmp.substring(16)
                        tr
                            td
                              a(href='javascript:;')= tmp
                            td= item.contact
                            td= item.mobile
                            td= item.country
                            td= item.city
                            td= item.time.toLocaleDateString() + ' ' + item.time.toLocaleTimeString()
            .panel-footer
                nav
                    ul.pagination
                        - for(var i = 0; i < pagecount; ++i)
                            li.item
                                a(href='#' + (i + 1))= (i + 1)
block footer
    script.
        (function() {
            var $pagination_item = $('.pagination .item');
            if (location.hash) {
                var index = location.hash.substr(1);
                loadBusiness(index);
            } else {
                $($pagination_item[0]).addClass('active');
            }
            window.addEventListener('hashchange', function () {
                var index = location.hash.substr(1);
                loadBusiness(index);
            });
            var $business_list = $('#business_list');

            function loadBusiness(index) {
                index = +index;
                $.get('/api/management/form/business', {index: index, pagesize: 15}, function(res) {
                    $pagination_item.removeClass('active');
                    $($pagination_item[index - 1]).addClass('active');
                    var list = [];
                    for (var i in res) {
                        var item = res[i];
                        item.time = item.time ? new Date(item.time) : new Date()
                        var tmp = '' + item._id;
                        tmp = tmp.substring(16);
                        var listItem = [];
                        listItem.push('<tr>');
                        listItem.push('<td>');
                        listItem.push('<a href="javascript:;">');
                        listItem.push(tmp);
                        listItem.push('</a>')
                        listItem.push('</td>');
                        listItem.push('<td>');
                        listItem.push(item.contact);
                        listItem.push('</td>');
                        listItem.push('<td>');
                        listItem.push(item.mobile);
                        listItem.push('</td>');
                        listItem.push('<td>');
                        listItem.push(item.country);
                        listItem.push('</td>');
                        listItem.push('<td>');
                        listItem.push(item.city);
                        listItem.push('</td>');
                        listItem.push('<td>');
                        listItem.push(item.time.toLocaleDateString() + ' ' + item.time.toLocaleTimeString());
                        listItem.push('</td>');
                        listItem.push('</td>');
                        listItem.push('</tr>');
                        list.push(listItem.join(''));
                    }
                   $business_list.html(list.join(''));
                })
            }
        })()