extends layout
block head
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/artist.css')
    link(rel='stylesheet', href='/jplayer/jplayer.blue.monday.css')
block content
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4#myModalLabel.modal-title 视频
                .modal-body
                    embed#mv_player(allowfullscreen='true', quality='high', width='570', height='475', align='middle', allowscriptaccess='always', type='application/x-shockwave-flash')
    .main
        .mod_data
            span.data__cover
                a(href='javascript:;')
                    img.data__photo(src= artist.icon, alt= artist.name)
            .data__cont
                .data__name
                    h1.data__name_txt
                        a(title=artist.name, href='javascript:;')= artist.name
                #singer_desc.data__desc
                    #short_desc.data__desc_txt= artist.infos.join(' ')
                    // a.js_desc(href='javascript:;', data-left='0', data-stat='y_new.singer.header.more_info', data-top='0', data-target='popup_data_detail', style='') [更多]
                ul.mod_data_statistic
                    li.data_statistic__item
                        a(href='#t_song')
                            span.data_statistic__tit 单曲
                            strong.data_statistic__number= artist.audios.length
                    li.data_statistic__item
                        a(href='#t_album')
                            span.data_statistic__tit 专辑
                            strong.data_statistic__number= artist.albums.length
                    li.data_statistic__item
                        a(href='#t_mv')
                            span.data_statistic__tit MV
                            strong.data_statistic__number= artist.videos.length
                    li.data_statistic__item
                        a(href='#t_schedule')
                            span.data_statistic__tit 档期
                            strong.data_statistic__number= artist.schedule.length
                    li.data_statistic__item
                        a(href='#')
                            span.data_statistic__tit 预订
                    li.data_statistic__item
                        a(href='#')
                            span.data_statistic__tit 分享
                    li.data_statistic__item.data_statistic__item--last
                        a(href='javascript:;', data-target='popup_data_detail')
                            span.data_statistic__tit 歌手介绍
                .data__actions(role='toolbar')
                    a.mod_btn_green.js_singer_radio(href='#')
                        i.mod_btn_green__icon_play
                        | 播放歌手热门歌曲
        // 首页 begin
        #index_tab.js_tab
            .mod_part
                .part__hd
                    h2#t_song.part__tit 单曲
                .mod_songlist
                    ul.songlist__header
                        li.songlist__header_name 歌曲
                        li.songlist__header_album 专辑
                        li.songlist__header_time 时长
                    ul.songlist__list#song_list
                        -
                            var index = 1;
                        each item in artist.audios
                            li(data-id= '' + item.id)
                                .songlist__item
                                    .songlist__number= index++
                                    .songlist__songname
                                        span.songlist__songname_txt= item.title
                                        i.songlist__icon.songlist__icon_exclusive
                                        .mod_list_menu
                                            a.list_menu__item.list_menu__play.js_play(href='javascript:;', title='播放')
                                                i.list_menu__icon_play
                                                span.icon_txt 播放
                                            a.list_menu__item.list_menu__share.js_share(href='javascript:;', title='分享', aria-haspopup='true', data-aria='menu_share')
                                                i.list_menu__icon_share
                                                span.icon_txt 分享
                                    .songlist__album 未知
                                    .songlist__time= item.timeLength
            .mod_part
                .part__hd
                    h2#t_album.part__tit 专辑
                .mod_mv
                    ul.mv_list__list
                        each item in artist.albums
                            li.mv_list__item
                                .mv_list__item_box
                                    a.mv_list__cover.mod_cover.js_mv(href='javascript:;')
                                        img.mv_list__pic(src= item.cover)
                                        i.mod_cover__icon_play
                                    h3.mv_list__title
                                        a.js_mv(href='javascript:;')= item.name
            .mod_part
                .part__hd
                    h2#t_mv.part__tit MV
                .mod_mv
                    ul#mvlist.mv_list__list
                        each item in artist.videos
                            li.mv_list__item
                                .mv_list__item_box
                                    a.mv_list__cover.mod_cover.js_mv(href='javascript:;', data-path=item.path)
                                        img.mv_list__pic(src= item.pic)
                                        i.mod_cover__icon_play
                                    h3.mv_list__title
                                        a.js_mv(href='javascript:;', data-path=item.path)= item.title
            .mod_part
                .part__hd
                    h2#t_schedule.part__tit 档期
                .mod_songlist
                    ul.songlist__header
                        li.songlist__header_addr 时间
                        li.songlist__header_addr 场地
                        li.songlist__header_addr 地点
                        li.songlist__header_addr 订票
                    ul.songlist__list
                        each item in artist.schedule
                            li
                                .songlist__item
                                    .songlist__addr= item.time
                                    .songlist__addr= item.venue
                                    .songlist__addr= item.addr
                                    .songlist__addr 订票
        // 专辑简介
        #popup_data_detail.popup_data_detail(data-aria='popup', style='display:none;z-index:10000000000;')
            .popup_data_detail__cont
                h3.popup_data_detail__tit 歌手简介
                each item in artist.infos
                    p= item
            i.popup_data_detail__arrow

        div.media-player
            div#jp_jplayer.jp-jplayer
            div#jp_container_1.jp-audio(role='application', aria-label='media player')
                div.jp-type-single
                    div.jp-gui.jp-interface
                        div.jp-controls
                            button.jp-play play
                            button.jp-stop stop
                        div.jp-progress
                            div.jp-seek-bar
                                div.jp-play-bar
                        div.jp-volume-controls
                            button.jp-mute mute
                            button.jp-volume-max max volume
                            div.jp-volume-bar
                                div.jp-volume-bar-value
                        div.jp-time-holder
                            div.jp-current-time(aria-label='time')
                            div.jp-duration(aria-label='duration')
block footer
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/jplayer/jquery.jplayer.min.js')
    script.
        (function () {
            var $popup = $('[data-aria="popup"]');
            $(document).on('click', function (e) {
                var $this = $(e.target);
                var target = $this.parent(['data-target']).attr('data-target');
                if (target) {
                    $('#' + target).show();
                } else {
                    $popup.hide();
                }
            });
            var $jplayer = $('#jp_jplayer');
            $jplayer.jPlayer({
                swfPath: "/jplayer",
                supplied: "mp3",
                wmode: "window",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                remainingDuration: true,
                toggleDuration: true
            });

            var $song_list = $('#song_list');
            $song_list.on('click', function(e) {
                var $target = $(e.target);
                var $play = $target.parents('a.js_play');
                if($play.length) {
                    var $li = $play.parents('li[data-id]');
                    if($li.hasClass('active')) {
                        //$jplayer.jPlayer('pause');
                        //$li.removeClass('active');
                    } else {
                        var id = $li.attr('data-id');
                        $.ajax({
                            url: '/api/audio/' + id,
                            success: function(r) {
                                if(r) {
                                    $jplayer.jPlayer('setMedia', {title: r.title, mp3: r.path}).jPlayer('play');
                                    $li.addClass('active').siblings().removeClass('active')
                                }
                            }
                        })
                    }
                }
            });

            var $mvItem = $('.mv_list__item');
            var $myModal = $('#myModal');
            var $mv_player = $('#mv_player');
            $mvItem.find('.js_mv') .on('click', function(){
                var $this = $(this);
                var path = $this.attr('data-path');
                $mv_player[0].src = path;
                $myModal.modal('show');
            });

            $('.js_singer_radio').on('click', function() {

                if(!$song_list.find('.active')) {

                }
            });
        })();