extends layout
block head
    link(rel='stylesheet', href='/bootstrap-fileinput/css/fileinput.min.css')
block content
    .modal.fade(tabindex='-1', role='dialog', aria-hidden='true', data-id='video')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4.modal-title 视频
                .modal-body
                    form#frm_video.form-horizontal(role='form')
                        .form-group
                            label.col-sm-2.control-label 封面
                            .col-sm-10
                                input.form-control(type='url', name='pic')
                        .form-group
                            label.col-sm-2.control-label 名称
                            .col-sm-10
                                input.form-control(type='text', name='title')
                        .form-group
                            label.col-sm-2.control-label 路径
                            .col-sm-10
                                input.form-control(type='text', name='path')
                .modal-footer
                    button#btn_video.btn.btn-primary(type='button') 确定
                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
    .modal.fade(tabindex='-1', role='dialog', aria-hidden='true', data-id='schedule')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4.modal-title 档期
                .modal-body
                    form#frm_schedule.form-horizontal(role='form')
                        .form-group
                            label.col-sm-2.control-label 时间
                            .col-sm-10
                                input.form-control(type='text', name='time')
                        .form-group
                            label.col-sm-2.control-label 场地
                            .col-sm-10
                                input.form-control(type='text', name='venue')
                        .form-group
                            label.col-sm-2.control-label 位置
                            .col-sm-10
                                input.form-control(type='text', name='addr')
                .modal-footer
                    button#btn_schedule.btn.btn-primary(type='button') 确定
                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
    .modal.fade(tabindex='-1', role='dialog', aria-hidden='true', data-id='album')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4.modal-title 专辑
                .modal-body
                    table.table.table-striped
                        thead
                            tr
                                th.col-md-1 #
                                th.col-md-3 名称
                                th.col-md-2 艺人
                                th.col-md-3 厂牌
                        tbody#body_album
                .modal-footer
                    button#btn_album.btn.btn-primary(type='button') 确定
                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
    .modal.fade(tabindex='-1', role='dialog', aria-hidden='true', data-id='audio')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4.modal-title 音乐
                .modal-body
                    table.table.table-striped
                        thead
                            tr
                                th.col-md-1 #
                                th.col-md-3 名称
                                th.col-md-2 时长
                                th.col-md-3 路径
                        tbody#body_audio
                .modal-footer
                    button#btn_audio.btn.btn-primary(type='button') 确定
                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
    .container
        .panel.panel-default
            .panel-heading 编辑艺人
            .panel-body
                form#frm_main.form-horizontal(role='form', method='post', action='/management/artist-upload', enctype='multipart/form-data')
                    .form-group
                        label.col-sm-2.control-label(for='inputName') 名称
                        .col-sm-10
                            input#inputName.form-control(type='text', placeholder='名称', name='name', value= artist.name)
                    .form-group
                        label.col-sm-2.control-label(for='inputInfo') 基本信息
                        .col-sm-10
                            textarea#inputInfo.form-control(rows='3', name='description')= artist.description
                    .form-group
                        label.col-sm-2.control-label(for='inputStyle') 流派
                        .col-sm-10
                            input#inputStyle.form-control(type='text', placeholder='流派', name='style', value= artist.style)
                    .form-group
                        label.col-sm-2.control-label(for='inputDescription') 简介
                        .col-sm-10
                            textarea#inputDescription.form-control(rows='5', name='infos')= artist.infos
                    .form-group
                        label.col-sm-2.control-label(for='inputIcon') 肖像
                        .col-sm-10
                            .row
                                .col-md-3
                                    a.thumbnail(href='javascript:;')
                                        img(style='width: 100%; display: block;', src=artist.icon, data-holder-rendered='true')
                            //img(src= artist.icon)
                            input#inputIcon.file(type='file', name='file', data-preview-file-type='text', data-allowed-file-extensions='["jpg", "png"]')
                    .form-group
                        label.col-sm-2.control-label 音乐
                        .col-sm-10
                            input#inputAudios(type='hidden', name='audios')
                            .panel.panel-default
                                .panel-heading 音乐列表
                                    a.pull-right.btn.btn-link.btn-xs.btn__add(href='javascript:;', data-target='audio') 选择
                                table.table.table-striped
                                    thead
                                        tr
                                            th.col-md-2 #
                                            th.col-md-3 名称
                                            th.col-md-3 时长
                                            th.col-md-4 路径
                                    tbody#main_audios
                                        each item in artist.audios
                                            -
                                                var tmp = '' + item._id
                                                tmp = tmp.substring(16)
                                            tr(data-id= item._id)
                                                td= tmp
                                                td= item.title
                                                td= item.timeLength
                                                td= item.path
                    .form-group
                        label.col-sm-2.control-label 专辑
                        .col-sm-10
                            input#inputAlbums(type='hidden', name='albums')
                            .panel.panel-default
                                .panel-heading 专辑列表
                                    a.pull-right.btn.btn-link.btn-xs.btn__add(href='javascript:;', data-target='album') 选择
                                table.table.table-striped
                                    thead
                                        tr
                                            th.col-md-2 #
                                            th.col-md-4 名称
                                            th.col-md-4 厂牌
                                            th.col-md-2 发行时间
                                    tbody#main_albums
                                        each item in artist.albums
                                            -
                                                var tmp = '' + item._id
                                                tmp = tmp.substring(16)
                                            tr(data-id= item._id)
                                                td= tmp
                                                td= item.name
                                                td= item.label
                                                td= item.datetime

                    .form-group
                        label.col-sm-2.control-label 视频
                        .col-sm-10
                            input#inputVideos(type='hidden', name='videos')
                            .panel.panel-default
                                .panel-heading 视频列表
                                    a.pull-right.btn.btn-link.btn-xs.btn__add(href='javascript:;', data-target='video') 新增
                                table.table.table-striped
                                    thead
                                        tr
                                            th.col-md-2 封面
                                            th.col-md-2 名称
                                            th.col-md-6 路径
                                            th.col-md-2 操作
                                    tbody#main_videos
                                        each item in artist.videos
                                            tr
                                                td(data-field='pic', data-value= item.pic)
                                                    .row
                                                        .col-md-12
                                                            a.thumbnail(href='javascript:;')
                                                                img(style='width: 100%; display: block;', src=item.pic, data-holder-rendered='true')
                                                td(data-field='title', data-value= item.title)= item.title
                                                td(data-field='path', data-value= item.path)= item.path
                                                td
                                                    a.link_delete(href='javascript:;') 删除

                    .form-group
                        label.col-sm-2.control-label 档期
                        .col-sm-10
                            input#inputSchedules(type='hidden', name='schedule')
                            .panel.panel-default
                                .panel-heading 档期列表
                                    a.pull-right.btn.btn-link.btn-xs.btn__add(href='javascript:;', data-target='schedule') 新增
                                table.table.table-striped
                                    thead
                                        tr
                                            th.col-md-3 时间
                                            th.col-md-4 场地
                                            th.col-md-3 位置
                                            td.col-md-2 操作
                                    tbody#main_schedule
                                        each item in artist.schedule
                                            tr
                                                td(data-field='time', data-value=item.time)= item.time
                                                td(data-field='venue', data-value=item.venue)= item.venue
                                                td(data-field='addr', data-value=item.addr)= item.addr
                                                td
                                                    a.link_delete(href='javascript:;') 删除

                    .form-group
                        .col-sm-offset-10.col-sm-2
                            button#btn_submit.btn.btn-default(type='submit').btn-block 提交
block footer
    script(src='/bootstrap-fileinput/js/plugins/canvas-to-blob.js')
    script(src='/bootstrap-fileinput/js/plugins/sortable.js')
    script(src='/bootstrap-fileinput/js/plugins/purify.js')
    script(src='/bootstrap-fileinput/js/fileinput.js')
    script(src='/bootstrap-fileinput/js/locales/zh.js')
    script.
        (function () {
            $('#inputIcon').fileinput({language: 'zh'});
            var $btn__add = $('a.btn__add');
            $btn__add.on('click', function(){
                var id = $(this).attr('data-target');
                var $target = $('.modal[data-id="' + id + '"]');
                $target.modal('show');
                switch(id) {
                    case 'album':
                        $.getJSON('/api/management/albums', function (res) {
                            var list = [];
                            for (var i in res) {
                                var item = res[i];
                                var listItem = [];
                                listItem.push('<tr>');
                                listItem.push('<td><input data-id="' + item._id + '" type="checkbox"></td>');
                                listItem.push('<td>');
                                listItem.push(item.name);
                                listItem.push('</td>');
                                listItem.push('<td>');
                                listItem.push(item.artist);
                                listItem.push('</td>');
                                listItem.push('<td>');
                                listItem.push(item.label);
                                listItem.push('</td>');
                                listItem.push('</tr>');
                                list.push(listItem.join(''));
                            }
                            $target.find('tbody').html(list.join(''));
                        });
                        break;
                    case 'audio':
                        $.getJSON('/api/management/audios', function (res) {
                            var list = [];
                            for (var i in res) {
                                var item = res[i];
                                var listItem = [];
                                listItem.push('<tr>');
                                listItem.push('<td><input data-id="' + item._id + '" type="checkbox"></td>');
                                listItem.push('<td>');
                                listItem.push(item.title);
                                listItem.push('</td>');
                                listItem.push('<td>');
                                listItem.push(item.timeLength);
                                listItem.push('</td>');
                                listItem.push('<td>');
                                listItem.push(item.path);
                                listItem.push('</td>');
                                listItem.push('</tr>');
                                list.push(listItem.join(''));
                            }
                            $target.find('tbody').html(list.join(''));
                        });
                        break;
                }
            });

            var $body_album = $('#body_album');
            var $body_audio = $('#body_audio');
            var $btn_album = $('#btn_album');
            var $btn_audio = $('#btn_audio');
            var $main_albums = $('#main_albums');
            var $main_audios = $('#main_audios');
            $btn_album.on('click', function() {
                var $chks = $body_album.find('input:checked');
                var data = {
                    chks: []
                }
                for(var i = 0, len = $chks.length; i < len; ++i) {
                    var item = $chks[i];
                    var $item = $(item);
                    var id = $item.attr('data-id');
                    data.chks.push(id);
                }
                $.getJSON('/api/management/albums-by-ids', data, function(res) {
                    var list = [];
                    for (var i in res) {
                        var item = res[i];
                        var tmp = '' + item._id
                        tmp = tmp.substring(16)
                        var listItem = [];
                        listItem.push('<tr data-id="' + item._id + '">');
                        listItem.push('<td>');
                        listItem.push(tmp);
                        listItem.push('</td>');
                        listItem.push('<td>');
                        listItem.push(item.name);
                        listItem.push('</td>');
                        listItem.push('<td>');
                        listItem.push(item.label);
                        listItem.push('</td>');
                        listItem.push('<td>');
                        listItem.push(item.datetime);
                        listItem.push('</td>');
                        listItem.push('</tr>');
                        list.push(listItem.join(''));
                    }
                    $main_albums.html(list.join(''));
                    $('.modal[data-id="album"]').modal('hide');
                });
            });

            $btn_audio.on('click', function() {
                var $chks = $body_audio.find('input:checked');
                var data = {
                    chks: []
                }
                for (var i = 0, len = $chks.length; i < len; ++i) {
                    var item = $chks[i];
                    var $item = $(item);
                    var id = $item.attr('data-id');
                    data.chks.push(id);
                }
                $.getJSON('/api/management/audios-by-ids', data, function (res) {
                    var list = [];
                    for (var i in res) {
                        var item = res[i];
                        var tmp = '' + item._id
                        tmp = tmp.substring(16)
                        var listItem = [];
                        listItem.push('<tr data-id="' + item._id + '">');
                        listItem.push('<td>');
                        listItem.push(tmp);
                        listItem.push('</td>');
                        listItem.push('<td>');
                        listItem.push(item.title);
                        listItem.push('</td>');
                        listItem.push('<td>');
                        listItem.push(item.timeLength);
                        listItem.push('</td>');
                        listItem.push('<td>');
                        listItem.push(item.path);
                        listItem.push('</td>');
                        listItem.push('</tr>');
                        list.push(listItem.join(''));
                    }
                    $main_audios.html(list.join(''));
                    $('.modal[data-id="audio"]').modal('hide');
                });
            });
            var $btn_video = $('#btn_video');
            var $btn_schedule = $('#btn_schedule');
            var $frm_video = $('#frm_video');
            var $frm_schedule = $('#frm_schedule');
            var $main_videos = $('#main_videos');
            $btn_video.on('click', function() {
                var inputs = $frm_video.find('input');
                var data = {};
                for(var i = 0, len = inputs.length; i < len; ++i) {
                    var item = inputs[i];
                    data[item.name] = item.value;
                    item.value = '';
                }
                var tds = [];
                tds.push('<tr>');
                tds.push('<td data-field="pic" data-value="' + data.pic + '"><div class="row"><div class="col-md-12"><a class="thumbnail" href="javascript:;">');
                tds.push('<img style="width: 100%; display: block;" src="' + data.pic + '" data-holder-rendered="true">')
                tds.push('</a></div></div></td>');
                tds.push('<td data-field="title" data-value="' + data.title + '">');
                tds.push(data.title);
                tds.push('</td>');
                tds.push('<td data-field="path" data-value="' + data.path + '">');
                tds.push(data.path);
                tds.push('</td>');
                tds.push('<td>');
                tds.push('<a class="link_delete" href="javascript:;">删除</a>');
                tds.push('</td>');
                tds.push('</tr>');
                var tr = tds.join('');
                $main_videos.append(tr);
                $('.modal[data-id="video"]').modal('hide');
            });
            var $main_schedule = $('#main_schedule');
            $btn_schedule.on('click', function() {
                var inputs = $frm_schedule.find('input');
                var data = {};
                for(var i = 0, len = inputs.length; i < len; ++i) {
                    var item = inputs[i];
                    data[item.name] = item.value;
                    item.value = '';
                }
                var tds = [];
                tds.push('<tr>');
                tds.push('<td data-field="time" data-value="' + data.time + '">');
                tds.push(data.time);
                tds.push('</td>');
                tds.push('<td data-field="venue" data-value="' + data.venue + '">');
                tds.push(data.venue);
                tds.push('</td>');
                tds.push('<td data-field="addr" data-value="' + data.addr + '">');
                tds.push(data.addr);
                tds.push('</td>');
                tds.push('<td>');
                tds.push('<a class="link_delete" href="javascript:;">删除</a>');
                tds.push('</td>');
                tds.push('</tr>');
                var tr = tds.join('');
                $main_schedule.append(tr);
                $('.modal[data-id="schedule"]').modal('hide');
            });
            $(document).on('click', '.link_delete', function() {
                var $tr = $(this).parents('tr');
                $tr.remove();
            });
            var $frm_main = $('#frm_main');
            $frm_main.on('submit', function() {
                var $audios = $main_audios.children('tr');
                var audios = [];
                var i, len, item = {}, $item = {};
                for(i = 0, len = $audios.length; i < len; ++i) {
                    item = $audios[i];
                    $item = $(item);
                    var id = $item.attr('data-id');
                    audios.push(id);
                }
                $('#inputAudios').val(JSON.stringify(audios));
                var $albums = $main_albums.children('tr');
                var albums = [];
                for(i = 0, len = $albums.length; i < len; ++i) {
                    item = $albums[i];
                    $item = $(item);
                    var id = $item.attr('data-id');
                    albums.push(id);
                }
                $('#inputAlbums').val(JSON.stringify(albums));
                var $videos = $main_videos.children('tr');
                var videos = [];
                for(i = 0, len = $videos.length; i < len; ++i) {
                    item = $videos[i];
                    $item = $(item);
                    var tds = $item.children('[data-field]');
                    var data = {};
                    for(var j = 0, jlen = tds.length; j < jlen; ++j) {
                        var jtem = tds[j];
                        var $jtem = $(jtem);
                        var field = $jtem.attr('data-field');
                        var value = $jtem.attr('data-value');
                        data[field] = value;
                    }
                    videos.push(data);
                }
                $('#inputVideos').val(JSON.stringify(videos));
                var $schedule = $main_schedule.children('tr');
                var schedules = [];
                for(i = 0, len = $schedule.length; i < len; ++i) {
                    item = $schedule[i];
                    $item = $(item);
                    var tds = $item.children('[data-field]');
                    var data = {};
                    for(var j = 0, jlen = tds.length; j < jlen; ++j) {
                        var jtem = tds[j];
                        var $jtem = $(jtem);
                        var field = $jtem.attr('data-field');
                        var value = $jtem.attr('data-value');
                        data[field] = value;
                    }
                    schedules.push(data);
                }
                $('#inputSchedules').val(JSON.stringify(schedules));
            });
        })();