div.top-bar
    div.wrapper
        a.logo(href='/')
            img(src="/images/bilibili.png", alt="domain")
        nav
            ul
                li
                    a(href='/home', class="#{path=='home'?'current':''}")
                        span HOME
                        span 首页
                li
                    a(href='/labels', class="#{path=='labels'?'current':''}")
                        span LABELS
                        span 厂牌
                li
                    a(href='/artists', class="#{path=='artists'?'current':''}")
                        span ARTISTS
                        span 艺人
                li
                    a(href='/promotion', class="#{path=='promotion'?'current':''}")
                        span PROMOTION
                        span 推广/合作
                li
                    a(href='/about', class="#{path=='about'?'current':''}")
                        span ABOUT
                        span 关于
        div.search-wrapper
            div.search-input-wrapper
                i.icon-search
                input.search(type='text', placeholder='厂牌/艺人/单曲')
