div.top-bar
    div.wrapper
        a.logo(href='/')
            img(src="/images/local/logo.png", alt="domain")
        nav
            ul
                li
                    a(href='/home', class="#{path=='home'?'current':''}")
                        span HOME
                        span 首 页
                //li
                //    a(href='/news', class="#{path=='news'?'current':''}")
                //        span NEWS
                //        span 新 闻
                li
                    a(href='/labels', class="#{path=='labels'?'current':''}")
                        span LABELS
                        span 厂 牌
                li
                    a(href='/artists', class="#{path=='artists'?'current':''}")
                        span ARTISTS
                        span 艺 人
                li
                    a(href='/service', class="#{path=='service'?'current':''}")
                        span SERVICE
                        span 专业服务
                //li
                //    a(href='/promotion', class="#{path=='promotion'?'current':''}")
                //        span PROMOTION
                //        span 推广/合作
                //li
                //    a(href='/reserve', class="#{path=='reserve'?'current':''}")
                //        span BOOKING
                //        span 预 订
                li
                    a(href='/cooperate', class="#{path=='cooperate'?'current':''}")
                        span COOPERATE
                        span 商业授权
                //li
                //    a(href='/about', class="#{path=='about'?'current':''}")
                //        span ABOUT
                //        span 关于
                li
                    a(href='/contact', class="#{path=='contact'?'current':''}")
                        span CONTACT
                        span 联系我们
        div.search-wrapper
            div.search-input-wrapper
                form(action='/search')
                    i.icon-search
                    input#input_search.search(type='text', placeholder='厂牌/艺人', name='query')
            //a.faq(href='/faq') FAQ
